@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
background-image: url("pictures/background_image.jpg");
height: 200vh;
width: 200vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}


.login-container {
background-color: rgba(201, 208, 223, 0.6);
padding: 50px 30px;
min-width: 400px;
width: 50%;
max-width: 600px;
}

.login-title {
color: white;
text-align: center;
margin: 0;
margin-bottom: 40px;
font-size: 2.5em;
font-weight: normal;
}