@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
background-image: url("pictures/background_image.jpg");
height: 192vh;
width: 192vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}