@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

html, body {
    margin: 0;
}

.full-screen-container {
background-image: url("pictures/background_image.jpg");
height: 200vh;
width: 200vh;
background-size: cover;
display: flex;
justify-content: center;
align-items: center;
}


.login-container {
background-color: rgba(13, 13, 14, 0.6);
padding: 50px 30px;
min-width: 400px;
width: 50%;
max-width: 600px;
}

.login-title {
color: white;
text-align: center;
margin: 0;
margin-bottom: 40px;
font-size: 2.5em;
font-weight: normal;
}

.input-group {
display: flex; 
flex-direction: column;
margin-bottom: 20px;
}

.input-group label{
color: rgb(247, 243, 243);
font-weight: lighter;
font-size: 1.5em;
margin-bottom: 7px;
}

.input-group input {
font-size: 1.53em;
background-color: rgba(215, 225, 235, 0.233);
border:1px solid rgb(197, 201, 247);
outline: none;
border-radius: 5px;
font-weight: lighter;
}

.input-group input:focus {
border: 3px solid rgb(55, 56, 65);
}

.login-button {
padding: 10px 30px;
width: 100%;
background-color: rgba(162, 164, 182, 0.486) ;
border: 1px solid rgb(197, 201, 247);
outline: none;
font-size: 1.5em;
font-weight: lighter;
margin-top:100px;
cursor: pointer;
}

.login-button:hover{
background-color: rgba(55, 56, 65, 0.342);
}

.login-button:focus{
    background-color: rgba(55, 56, 65, 0.767);
    }